
 <!-- * Authenticaton System
 * Using ExpressJS
 * By: Wilfred V. Pine
 * https://github.com/wilfredpine/
 * https://github.com/wilfredpine/expressjs-auth
 * @8/2024 -->

 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protected Route</title>
</head>
<body>
<a href="/auth/logout">logout</a>
<hr>
Welcome <%= user.email %> (<%= user.role %>)
<h1>Home</h1>

<p>Congratulations!</p>

</body>
</html>
