
 <!-- * Authenticaton System
 * Using ExpressJS
 * By: Wilfred V. Pine
 * https://github.com/wilfredpine/
 * https://github.com/wilfredpine/expressjs-auth
 * @8/2024 -->

 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Password</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    
    <main>
        <h1>Set New Password</h1>
        <% if (errors.length > 0) { %>
            <div class="errors">
                <% errors.forEach(error => { %>
                    <p><%= error.msg %></p>
                <% }) %>
            </div>
        <% } %>
        <form action="/auth/new-password" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>"> <!-- Add CSRF token here -->
            <label for="password">New Password:</label>
            <input type="password" id="password" name="newPassword" required>
            <input type="hidden" name="token" value="<%= token %>">
            <button type="submit">Set New Password</button>
        </form>
    </main>
    
</body>
</html>
