
 <!-- * Authenticaton System
 * Using ExpressJS
 * By: Wilfred V. Pine
 * https://github.com/wilfredpine/
 * https://github.com/wilfredpine/expressjs-auth
 * @8/2024 -->

 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <% if (errors.length > 0) { %>
        <ul>
            <% errors.forEach(function(error) { %>
                <li><%= error.msg %></li>
            <% }); %>
        </ul>
    <% } %>
    <form action="/auth/register" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>"> <!-- Add CSRF token here -->
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="<%= formData.name %>">
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="<%= formData.email %>">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
        </div>
        <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="/auth/login">Login here</a></p>
</body>
</html>
